<div class="container">

<center><p id="notice"><%= notice %></p></center>

<center><h1>Listing Notices</h1></center>

<table class="table table-striped" >
  <thead>
    <tr>
      <th><b>Notice Title</b></th>
      <th><b>Notice Body</b></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @notices.each do |notice| %>
      
      <tr>
        <td><%= notice.title %></td>
        <td><%= notice.body %></td>
        <td><%= link_to 'Show', notice %></td>
        <td><%= link_to 'Edit', edit_notice_path(notice) %></td>
        <td><%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><button><%= link_to 'New Notice', new_notice_path %></button></center>
