<%= form_for(@event, :html => { :class => 'form-horizontal'}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="tab-content">  
    <div role="tabpanel" class="panel panel-primary tab-pane active" style="margin-top:20px;margin-left:50px;margin-right:50px;" >
        <div class="panel-heading input-lg" style="background-color: #003366;">
            <h4> Upcoming Events </h4>
        </div>  
        <!-- Panel-head -->
        
        <div class="panel-body">
    <div class="form-group">
          <!-- Event name -->
          <div class="col-sm-2 label-control">      
          
          <%= f.label :Event_Name %>
          </div>
          <div class="col-sm-8">
          <%= f.text_field :ename ,:placeholder => "Enter Event Name", :class => 'form-control', :autofocus => true, :required => true %><br>
          </div>
    </div>
  
    <div class="form-group">
          <!-- Event desc -->
          <div class="col-sm-2 label-control"> 
          <%= f.label :Event_Description%>
          </div>
          <div class="col-sm-8">
          <%= f.text_area :edesc, :placeholder => "Enter Event Description", :class => 'form-control', :autofocus => true, :required => true  %><br>
        </div>
    </div>

     <div class="form-group">
              <div class="col-sm-2 label-control">
                <%= f.label :Event_Date %>
              </div>
              <div class="col-sm-8">
                <%= f.text_field :edate, :placeholder => "Select Event Date" ,:'data-behaviour' => 'datepicker', :class => "form-control fa fa-calendar" ,:id => "datepicker"%><br>
                                
                <script type="text/javascript">
                 
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  
                </script>

              </div>
            </div>
  <div class="form-group">     
          <div class="control-group">
            <!-- Button -->
            <div class="controls span7 text-center" >
              <button class="btn btn-success">Submit</button>
              <%= button_tag "Reset", type: :reset, :class => "btn btn-success" %>
            </div>
          </div>
        </div>
<% end %>
