<%= form_for(@admission) do |f| %>
  <% if @admission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admission.errors.count, "error") %> prohibited this admission from being saved:</h2>

      <ul>
      <% @admission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sname %><br>
    <%= f.text_field :sname %>
  </div>
  <div class="field">
    <%= f.label :pname %><br>
    <%= f.text_field :pname %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :bldgrp %><br>
    <%= f.text_field :bldgrp %>
  </div>
  <div class="field">
    <%= f.label :course %><br>
    <%= f.text_field :course %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.number_field :contact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
