<div class="container">
<p id="notice"><%= notice %></p>

<center><h1 style="text-transform: capitalize; ">Listing Students</h1></center>
<br><br>
<table class="table table-striped" >
  <thead>
    <tr>
      <th><b>Student's Name</b></th>
      <th><b>Parent's Name</b></th>
      <th><b>Date of Birth</b></th>
      <th><b>Address</b></th>
      <th><b>City</b></th>
      <th><b>Blood group</b></th>
      <th><b>Course</b></th>
      <th><b>Contact</b></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admissions.each do |admission| %>
      <tr>
        <td><%= admission.sname %></td>
        <td><%= admission.pname %></td>
        <td><%= admission.dob %></td>
        <td><%= admission.address %></td>
        <td><%= admission.city %></td>
        <td><%= admission.bldgrp %></td>
        <td><%= admission.course %></td>
        <td><%= admission.contact %></td>
        <td><%= link_to 'Show', admission %></td>
        <td><%= link_to 'Edit', edit_admission_path(admission) %></td>
        <td><%= link_to 'Destroy', admission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><button><%= link_to 'New Admission', new_admission_path %></button></center>

