<br><br>
<center>
<font color="green"><p id="notice"><%= notice %></p></font>

  <div class="panel panel-default" style="margin-left:60px; margin-right:60px; ">
    <div class="panel-body" >
    <br><br>

<p>
  <strong><i>Student Name:</i></strong>
  <%= @admission.sname %>
</p>
<br>
<p>
  <strong>Parent name:</strong>
  <%= @admission.pname %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @admission.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @admission.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @admission.city %>
</p>

<p>
  <strong>Bloodgroup:</strong>
  <%= @admission.bldgrp %>
</p>

<p>
  <strong>Course:</strong>
  <%= @admission.course %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @admission.contact %>
</p>

</div>
</div>


<button><%= link_to 'Edit', edit_admission_path(@admission) %> </button> 
<button><%= link_to 'Back', admision_path %></button> 
</center>